

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/mem_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <% if @current_user.nil? %>
        <div class="about_head">
          Edit your <span>Membership Details</span>
        </div>
        <div class="about_body">
          Edit your EMLPO membership details using the form below. Then click submit to return to the payment page.
        </div>
      <% else %>
        <div class="about_head">
          Edit <span>Membership Details</span>
        </div>
        <div class="about_body">
          Edit the membership details for <%= @membership.first_name %> <%= @membership.first_name %> using the form below and click 'Save Changes'.
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top:16px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="">
        <div class="mem_col_head_shell online">
          Membership <span>Details</span>
          <div class="mem_col_head_req">* Required</div>
        </div>
        <%= form_for :memberships, url: memberships_path(@membership) do |f| %>

          <div class="mem_form_line_left">
            <%= f.label :first_name %> *<br>
            <%= f.text_field :first_name, :value => @membership.first_name %>
          </div>
          <div class="mem_form_line_right">
            <%= f.label :last_name %> *<br>
            <%= f.text_field :last_name, :value => @membership.last_name %>
          </div>
          <div class="clearfix"></div>


          <div class="mem_form_line_left">
            <%= f.label :email_Address %> *<br>
            <%= f.email_field :email, :value => @membership.email %>
          </div>
          <div class="mem_form_line_right">
            <%= f.label :company_name %><br>
            <%= f.text_field :company_name, :value => @membership.company_name %>
          </div>
          <div class="clearfix"></div>
          <div style="width:100%; margin:15px 0 30px 0; border-top:1px dashed #e6e6e6;"></div>

          <div class="mem_form_line_full">
            <%= f.label :address %> *<br>
            <%= f.text_field :address, :value => @membership.address %>
          </div>

          <div class="mem_form_line_left">
            <%= f.label :city %> *<br>
            <%= f.text_field :city, :value => @membership.city %>
          </div>
          <div class="mem_form_line_right">
            <%= f.label :province %> *<br>
            <%= f.text_field :province, :value => @membership.province %>
          </div>
          <div class="clearfix"></div>

          <div class="mem_form_line_left">
              <%= f.label :postal %> *<br>
              <%= f.text_field :postal, :value => @membership.postal %>
          </div>
          <div class="mem_form_line_right">
            <%= f.label :phone_number %> *<br>
            <%= f.text_field :phone, :value => @membership.phone %>
          </div>
          <div class="clearfix"></div>

          <div class="mem_form_line_full">
            <%= f.label :notes %><br>
            <%= f.text_area :notes, :value => @membership.notes %>
          </div>

          <div class="mem_form_line_full">
            <%= f.label :membership_type_id %> *<br>
            <%= f.select(:membership_type_id) do %>
              <% @membership_types.each do |membership_type| -%>
                <%= content_tag(:option, membership_type.display_name_price_cdn, value: membership_type.id) %>
              <% end %>
            <% end %>
          </div>
          <div style="width:100%; margin:15px 0 30px 0; border-top:1px dashed #e6e6e6;"></div>

          <% if @current_user.nil? %>
            <div class="mem_form_line_full">
              <%= f.submit "Continue and Pay", class: "mem_form_btn"%>
            </div>
          <% else %>
          <div class="mem_form_line_full">
            <%= f.submit "Save Changes", class: "mem_form_btn"%>
            <button type="button" class="mem_form_cancel_btn" data-toggle="modal" data-target="#confirm_delete_modal">
              Delete Membership
            </button>

          </div>
          <% end %>


        <% end %>
      </div>
    </div>

    </div>
  </div>
</div>


<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head"><span>Contact us</span> to learn more <br class="visible-xs">about EMLPO <br class="hidden-xs">and what <br class="visible-xs">a membership has <br class="visible-xs">to offer.</div>
        <a href="#"><div class="bot_tag_btn">Contact EMLPO</div></a>
      </div>
    </div>
  </div>
</div>
