<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/mem_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_head">
        All <span>EMLPO Memberships</span>
      </div>

    </div>
  </div>
  <div class="row" style="margin-top:0px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="con_table_shell">
        <div class="table-responsive" style="border:0 !important;">
          <table class="table">
            <thead>
              <tr class="tr_head">
                <td>Name</td>
                <td>Phone Number</td>
                <td>Email Address</td>
                <td>Payments</td>
                <td>Next Payment Due</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            <% @memberships.sort_by{ |t| t.next_paid_time }.each do |membership| %>
              <tr class="tr_body">
                <td class="td_member_1"><%= membership.first_name %> <%= membership.last_name %></td>
                <td class="td_member_2"><%= membership.phone %></td>
                <td class="td_member_3"><%= membership.email %></td>
                <td class="td_member_4"><%= membership.charges.count %></td>
                <td class="td_member_5"><%= membership.next_paid_time.strftime("%B %e, %Y") %></td>
                <td class="td_member_6"><a href="/memberships/<%= membership.id %>/edit">Edit</a><a href="/memberships/<%= membership.id %>">View</a></td>
              </tr>
            <% end %>


            </tbody>
          </table>
        </div>
      </div>
      <div class="about_head">
        Email <span>Communications</span>
      </div>

      <div class="con_table_shell">
        <div class="table-responsive" style="border:0 !important;">
          <table class="table">
            <thead>
              <tr class="tr_head">
                <td>Name</td>
                <td>Email Address</td>
                <td></td>

              </tr>
            </thead>
            <tbody>
            <% @memberships.select{ |t| t.email_communications }.each do |membership| %>
              <tr class="tr_body">
                <td class="td_con_email_1"><%= membership.first_name %> <%= membership.last_name %></td>
                <td class="td_con_email_2"><%= membership.email %></td>
                <td class="td_con_email_3"><a href="/memberships/<%= membership.id %>/edit">Edit</a><a href="/memberships/<%= membership.id %>">View</a></td>

              </tr>
            <% end %>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
