<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/mem_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_head">
        <span>Forgot Your Password?</span>
      </div>
      <div class="about_body">
        Enter your email below to reset your password. Once submitted, check your email to complete the reset process.
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:16px; margin-bottom:40px;">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="mem_form_line_full">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="mem_form_line_full">
    <%= f.submit "Send me reset password instructions", class: "mem_form_btn", style: "margin-top:20px; background-image:none; width:310px;"  %>
  </div>
<% end %>

</div>
</div>
